*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color: #d20429 ;
    --bg-color: #000;
    --text-color: #ffff;
    --container-color: #2d2e37;
    --body-color:#000;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin-right: auto;
    margin-left: auto;
}
header{
    display: block;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #d20429;
}
.header.shadow{
    background: red;
    
}
.header.shadow .navbar a{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menuicon{
    font-size: 24px;
    cursor: pointer;
    color: gold;
    display: none;
}
 .logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
 }
 .logo span{
    color: teal;
 }
 .navbar{
    display: flex;
    column-gap: 2rem;
 }
 .navbar a{
    color: blue;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .navbar a:hover{
    color: var(--container-color);
 }
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--body-color);
    border-radius: 4rem;
}
.bx{
    cursor: pointer;
}
.search-box .bx:hover{
    color: red;
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
}
section {
        padding: 4rem 0 2rem;
}
.home{
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background:url(logo\ for\ ncm.jpeg);
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding: 0px;
    margin: 10px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    align-content: center;
    color: white;
}
.home-text span{
    color: red;
}
.btn{
    margin: 0;
    padding: 10px 22px ;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 12px;
    position: absolute;
}
.btn:hover{
    background: lawngreen;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: #d20429;
    font-size: 25px;
}
.heading p{
    font-size: 20px;
    color: #2d2e37;
}
.heading h2{
   color: #000;
}
.cars-container{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}
.cars-container .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.about-img{
    flex: 1 1 21rem;
    box-shadow: none;
    border: white;

}
.about-text{
    flex: 1 1 21rem;
    color: #000;
}
.about-text span{
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 25px;
    margin: 0.5rem 0 1.4rem;
}
.parts-container{
    display:flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 1.5rem;
}
.parts-container .box img{
    width: 100%;
    height: 400px;
    flex-basis: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.button{
     border-radius: 15px;
     background: #d20429;
     padding: 5px 22px;
}
.button:hover{
    background: lawngreen;
}
.parts-container .box h3{
    color: #000;
    font-weight: 600;
}
.parts-container .box span{
    color: var(--main-color);
    font-weight: 600;
}
.parts-container .box .bx{
     color: gold;
     margin: 0.8rem 0;
}
.parts-container .box .button{
     max-width: 120px;
}
.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: black;
}
.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.blog-container .box:hover{
    background: #f6f6;
    border-radius: 0.5rem;
}
.blog-container .box span{
    font-size: 15px;
    color: #d20429;
}

.blog-container .box h3{
    font-size: 20px;
    color: #000;
}
.blog-container .box p{
    font-size: 20px;
    margin: 4px 0;
    color: #2d2e37;
}
.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.blog-container .box .blog-btn .bx{
      font-size: 20px;
}
.blog-container .box .blog-btn:hover{
     color: blue;
     column-gap: 0.7rem;
     transition: 0.3s;
}
.footer{
    background: var(--bg-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: white;
    margin-right: 1rem;
}
.social a:hover {
    background: var(--main-color);
    border-radius: 2rem;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color:goldenrod ;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: gray;
    background: var(--bg-color);
}
/*Custom Scroll Bar*/
html::-webkit-scrollbar{
    width: 0.55rem;
    background: black;
}
html::-webkit-scrollbar-thumb{
    background: gray;
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img{
    width: 70px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 70%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.helpful{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 19px;
    color: white;
}
.helpful:hover{
    color: #fe5b3d;
}
.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgb(48, 145, 103);
    border-radius: 0.5rem;
}
.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p{
    margin: 1rem;
    font-size: 19px;
    font-weight: 600;
}
.reviews-container .box p1{
    margin: 1rem;
    font-size: 19px;
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
}
.reviews-container .box p1:hover{
    color: #474fa0;
}
/*Responsive*/
@media (max-width:1080px){
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width:991px){
    .nav{
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home-text {
        padding-left: 2rem;
    }
    .home-text h1{
        font-size: 2.1rem;
    }
}
@media (max-width:920px){
    #search-icon{
        color: var(--bg-color);
    }
}
@media (max-width:768px){
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
     
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: orange;
        row-gap: 0.5rem;
        text-align: center;
         padding: 20px;
         box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
         transition: 0.2s all linear;
         text-align: center;
    }
    .navbar a{
         color: #818181;

    }
    .navbar a::after {
        display: none;
    }
    .navbar a:hover{
        border-bottom: 1px solid var(--main-color);
        color: var(--bg-color);
    }
     .navbar.active{
        top: 100%;
     }
     .blog-container .box {
        padding: 4px;

     }
}
@media (max-width:727px){
    .heading span{
        font-size: 0.9rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-text {
        text-align: center;
    }
    .about-text h2 {
        font-size: 1.4rem;
    }
}
@media (max-width:707px) {
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:360px) {
    .search-box input{
        padding: 11px;
    }
    .home {
        min-height: 500px;
    }
    .home-text {
        font-size: 2rem;
    }
    .home-text p br {
    display: contents;
    }
}
p{
    font-size: 20px;
    margin: 4px 0;
   color: black;
}           